@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.container-with-bg {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    flex-direction: column;
}

.photos-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30%;
    margin: 0;
}

.alert {
    text-align: center;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 130px;
    width: 350px;

    div {
        opacity: 0;
        animation: fadeInOut 2s ease-in-out;
        border-radius: 11px;
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &__success {
        background-color: green;
    }

    &__error {
        background-color: red;
    }

    &__text {
        color: white;
        font-family: FuturaPtDefault;
    }
}

.album {
    max-width: 200px;
    min-width: 200px;
    max-height: 250px;
    border-radius: 11px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    .album-content::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        z-index: 100;
    }

    .album-title {
        max-width: 150px;
        font-family: FuturaPtDefault;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 5px;
        margin-right: 5px;
        position: absolute;
        z-index: 100;
        margin-top: 200px;
    }

    .album-background-image {
        width: 200px;
        height: 250px;
        object-fit: cover;
        z-index: -10;
    }

}

@media (max-width:1024px) {
    .album {
        min-width: 110px;
        max-width: 110px;
        height: 140px;
    }

    .album-background-image {
        width: 110px;
        height: 140px;
    }

    .album-title {
        width: 100px;
        bottom: 20px;
        font-size: 12px;
    }
}

.photo {
    width: 400px;
    height: 400px;
    cursor: pointer;
    overflow: hidden;

    .photo-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}

@media (max-width:1024px) {
    .photo {
        width: 125px;
        height: 125px;
        overflow: hidden;
    }
}

.default-bold-text {
    font-family: FuturaPtHeavy;
    font-size: 18px;
    line-height: 13px;
}

@media (max-width:1024px) {
    .default-bold-text {
        width: 345px;
        font-size: 14px;
    }
}

.otp-input-container {
    display: flex;
    flex-direction: row;
    gap: 15px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }
}

.otp-input-box {
    width: 45px;
    height: 40px;
    gap: 15px;
    border: none;
    border-radius: 10px;
    color: #262626;
    font-family: FuturaPtMedium;
    text-align: center;
}

.default-button {
    width: 420px;
    height: 50px;
    background-color: #30C;
    color: #FFF;
    font-family: FuturaPtMedium;
    border: none;
    font-size: 22px;
    line-height: 15px;
    border-radius: 30px;
    cursor: pointer;

    &:disabled {
        opacity: 0.3;
    }
}

@media (max-width:1024px) {
    .default-button {
        width: 345px;
        font-size: 18px;
    }
}

.default-text {
    color: #262626;
    font-family: FuturaPtDefault;
    font-size: 18px;
    line-height: normal;

}

.default-input {
    width: 420px;
    height: 40px;
    border: none;
    font-family: FuturaPtMedium;
    color: #262626;
    font-size: 20px;
    padding-left: 13px;
}

@media (max-width:1024px) {
    .default-input {
        max-width: 345px;
        font-size: 16px;
    }

}

.default-title {
    color: #262626;
    font-family: TerminaBold, FuturaPtDemi;
    font-size: 30px;
}

@media (max-width:1024px) {
    .default-title {
        font-size: 22px;
    }
}

.loading {
    text-align: center;
    width: 375px;

    @keyframes dotty {
        0% {
            content: '...';
        }

        25% {
            content: '..';
        }

        50% {
            content: '.';
        }

        75% {
            content: '...';
        }

        100% {
            content: '';
        }
    }

    p::after {
        display: inline-block;
        animation: dotty steps(1, end) 2s infinite;
        content: '';
    }
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;

}

.loader-content {
    text-align: center;
    display: flex;
    flex-direction: column;

    img {
        padding-bottom: 25px;
        margin: 0 auto;
    }

    p::after {
        display: inline-block;
        animation: dotty steps(1, end) 2s infinite;
        content: '';
    }
}

.header {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
    }

    &__inner-logo {
        margin: 0 auto;
        cursor: pointer;
        width: 170px;
        height: 22px;
    }

    &__profile-thumb img {
        position: absolute;
        top: 10px;
        right: 30px;
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media (max-width:1024px) {
    .header {
        &__inner {
            height: 55px;
        }

        &__inner-logo {
            width: 125px;
            height: 16px;
        }

        &__profile-thumb img {
            right: 15px;
        }
    }

}

.number-input {
    padding-bottom: 250px;
    display: flex;

    &__title {
        width: 345px;
    }

    &__input {
        height: 40px;
        min-width: 410px;
        font-family: FuturaPtDefault;
    }

    &__text {
        color: #262626;
        font-family: FuturaPtDemi;
        font-size: 18px;
        line-height: 15px;
        padding-bottom: 20px;
        padding-top: 5px;
    }

    &__privacy-policy {
        color: #6D6D6D;
        font-family: FuturaPtDefault;
        font-size: 14px;
        margin-top: 17px;
        max-width: 340px;
    }

    &__privacy-policy-container {
        margin-top: 30px;
        line-height: normal;
        letter-spacing: -0.28px;

        a {
            color: #6D6D6D;
            text-decoration: underline #30C;
        }
    }

    &__button-container {
        margin-top: 18px;
    }

    &__title-container {
        text-align: center;
        padding-top: 130px;
        padding-right: 50px;
    }

}

@media (max-width:1024px) {
    .number-input {
        &__input {
            min-width: 335px;
        }
    }
}

.whats-the-code {
    padding-top: 100px;
    display: flex;

    &__inner {
        align-items: center;
    }

    &__inner-content {
        max-width: 420px;
    }

    &__title-container {
        text-align: center;
    }

    &__title {
        text-align: center;
        font-family: TerminaBold;
        font-size: 30px;
    }

    &__text {
        color: #262626;
        font-family: FuturaPtDefault;
        font-size: 16px;
        padding-bottom: 15px;

        span {
            font-family: FuturaPtHeavy;
        }
    }

    &__input-container {
        padding-bottom: 18px;
    }

    &__resend-code {
        font-family: FuturaPtDefault;
        font-size: 16px;
        color: #30C;
        cursor: pointer;
    }

    &__button-container {
        margin-top: 15px;
    }
}

@media (max-width:1024px) {
    .whats-the-code {
        &__title {
            font-size: 22px;
            line-height: normal;
        }
    }
}

.photo-upload-options {
    display: none;
}

.add-a-selfie {
    margin-top: 60px;
    text-align: center;

    &__text {
        padding-top: 5px;
        line-height: 20px;
    }

    &__prev-photo {
        padding-top: 20px;
        margin: 0 auto;
        max-width: 210px;
        max-height: 210px;
        border-radius: 50%;
    }

    &__plus-button {
        position: relative;
        left: 70px;
        bottom: 45px;
        background-color: #3300CC;
        color: white;
        border: none;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        font-size: 35px;
        cursor: pointer;
    }

    &__mobile-options {
        position: absolute;
        top: 380px;
        left: 50%;
        z-index: 10;
        transform: translate(-50%);
        background-color: white;
        border-radius: 11px;
    }
}

.pop-up-selfie-upload-options {

    &__container {
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        flex-direction: column;
        text-align: center;
    }

    &__webcam {
        display: flex;
        flex-direction: column;
    }

    &__inner {
        width: 420px;
        height: 185px;
        border-radius: 20px;
        background-color: white;
    }

    &__x-mark {
        position: absolute;
        width: 18px;
        height: 18px;
        cursor: pointer;
        background-image: url("../public/images/XMarkBlack.svg");
        margin-left: 15px;

        img {
            padding-top: 18px;
        }
    }

    &__content {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        font-family: FuturaPtMedium;
        font-size: 22px;

        h6 {
            line-height: 19px;
        }
    }

    &__buttons-container {
        padding-top: 10px;
    }

    &__input-wrapper {
        margin-top: 10px;

        input {
            display: none;
        }

        span {
            cursor: pointer;
        }

    }

    &__input-button {
        width: 380px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0 auto;
        border-radius: 30px;
        border: 1px solid #3300CC;
        color: #3300CC;
        cursor: pointer;
    }

    &__webcam-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }

    &__camera-button {
        font-family: FuturaPtMedium;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        width: 180px;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
    }

    &__close-camera-button {
        background-color: #202020;
        border: 1px solid white;
        color: white;
    }
}


@media (max-width:1024px) {
    .pop-up-selfie-upload-options {
        &__mobile {
            display: block;
        }

        &__container {
            display: none;
        }
    }
}

.pop-up-photo-container {

    &__image {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%);
        }
    }

    &__close {
        position: absolute;
        top: 25px;
        left: 40px;
        width: 24px;
        height: 30px;
        z-index: 110;
        cursor: pointer;
        background-image: url("../public/images/X.svg");
    }

    &__buttons {
        position: absolute;
        bottom: 85px;
        right: 480px;
    }

    &__button {
        position: absolute;
        bottom: 30px;
    }

    &__unlock {
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 25px;
        color: #262626;
        font-family: FuturaPtMedium;
        font-size: 22px;
        cursor: pointer;
    }
}

@media (max-width:1024px) {
    .pop-up-photo-container {
        background: #262626;

        &__buttons {
            width: 340px;
            right: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
        }

        &__button {
            bottom: 30px;
        }

        &__unlock {
            font-size: 18px;
            width: 345px;
        }
    }
}

.selfie-edit {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
    text-align: center;

    &__inner {
        height: 650px;
        width: 380px;
        background-color: #202020;
        border-radius: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: FuturaPtDemi;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 13px;
        color: white;
    }

    &__tip-text {
        font-family: FuturaPtDefault;
        color: white;
        font-size: 16px;
        line-height: 11px;
        padding-top: 90px;
    }

    &__selected-image-container {
        padding-top: 40px;
        overflow: hidden;
    }

    &__selected-image {
        width: 290px;
        height: 290px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__buttons-container {
        padding-top: 90px;
    }

    &__button {
        font-family: FuturaPtHeavy;
        width: 170px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 30px;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }

    &__retake-button {
        border: 1px solid white;
        background: rgba(28, 28, 28, 0);
        color: white
    }

    &__save-button {
        color: #262626;
        background-color: white;
    }

    &__x-mark {
        position: relative;
        top: 15px;
        left: 16px;
        z-index: 110;
        cursor: pointer;
        width: 18px;
        height: 25px;
        background-image: url("../public/images/X.svg");
    }

    &__mobile-options {
        width: 226px;
        height: 119px;
        background-color: white;
        border-radius: 11px;
        position: absolute;
        bottom: 60px;
    }

    &__mobile-options {
        align-self: self-start;
    }

    &__loader {
        p {
            color: white;
        }
    }
}

@media (max-width:1024px) {
    .selfie-edit {
        &__inner {
            top: 0;
            left: 0;
            border-radius: 0px;
            position: fixed;
            width: 100%;
            height: 100vh;

        }

        &__title {
            line-height: 13px;
            font-size: 18px;
            letter-spacing: 0.5px;
        }

        &__preview-container {
            display: flex;
            flex-direction: column;
        }

        &__middle-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        &__buttons-container {
            display: flex;
            flex-direction: row;
        }
    }
}

.whats-your-name {
    margin-top: 155px;
    display: flex;

    &__title-container {
        text-align: center;
        padding-bottom: 15px;
    }

    &__button-container {
        padding-top: 18px;
    }
}

.whats-your-email {
    margin-top: 130px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-container {
        text-align: center;
        padding-bottom: 9px;
    }

    &__button-container {
        padding-top: 20px;
    }

    &__privacy-policy {
        padding-top: 210px;
        color: #262626;
        font-family: FuturaPtDefault;
        font-size: 16px;
        padding-bottom: 15px;

        a {
            color: #262626;
            text-decoration: underline #3300CC;
        }
    }
}

@media (max-width:1024px) {
    .whats-your-email {
        &__privacy-policy {
            font-size: 14px;
        }
    }
}

.no-photos-yet {
    padding-top: 20px;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info-image {
        max-width: 90px;
        max-height: 90px;
    }

    &__info-title {
        line-height: 22px;
        padding-top: 20px;
        color: #262626;
        font-family: FuturaPtHeavy;
        font-size: 30px;
    }

    &__info-text {
        padding-top: 8px;
        color: #262626;
        text-align: center;
        font-family: FuturaPtDefault;
        font-size: 22px;
    }

    &__artists-prints {
        padding-top: 80px;
    }

    &__artists-prints-title {
        font-size: 30px;
        font-family: FuturaPtHeavy;
        line-height: 20px;
        padding-bottom: 15px;
    }

    &__artists-prints-thumbnails {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 100px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__artists-prints-thumbnail {
        width: 200px;
        height: 245px;
        cursor: pointer;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:1024px) {
    .no-photos-yet {

        &__info-title,
        &__artists-prints-title {
            font-size: 22px;
        }

        &__info-text {
            font-size: 18px;
        }

        &__artists-prints-thumbnail {
            width: 170px;
            height: 213px;
        }

        &__info-image {
            width: 81px;
            height: 74px;
        }

    }

}


.profile-details {
    padding-top: 10px;

    &__title-container {
        text-align: center;
        padding-bottom: 15px;
    }

    &__title {
        color: #262626;
        font-family: TerminaBold;
        font-size: 30px;
    }

    &__inner {
        max-width: 480px;
        margin: 0 auto;
    }

    &__bold-text {
        font-family: FuturaPtMedium;
        font-size: 18px;
        line-height: 13px;
    }

    &__selfie-container {
        padding-top: 15px;
        margin-right: auto;
    }

    &__selfie {
        object-fit: cover;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    &__user-data-fields {
        padding-top: 10px;
    }

    &__user-data-field {
        max-width: 420px;
        height: 50px;
        border: 1px solid #CECCB5;
        border-radius: 11px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: 16px;
        font-family: FuturaPtDefault;
        padding-bottom: 10px;
        width: 365px;
    }

    &__user-data-field-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 15px;
        padding-left: 15px;
        cursor: pointer;
    }

    &__edit-icon {
        background-image: url(../public/images/PenIcon.svg);
        width: 45px;
        height: 45px;
        position: absolute;
        margin-left: 125px;
        margin-top: -50px;
        cursor: pointer;
    }

    &__right-arrow {
        background-image: url(../public/images/RightArrow.svg);
        width: 10px;
        height: 20px;
        margin-left: 10px;
    }
}

@media (max-width:1024px) {
    .profile-details {
        &__title {
            font-size: 18px;
        }

        &__selfie {
            width: 100px;
            height: 100px;
        }

        &__edit-icon {
            margin-left: 75px;
            margin-top: -40px;
        }

        &__text {
            font-size: 14px;
            width: 292px;
        }

        &__bold-text {
            p {
                font-size: 14px;
            }
        }


    }
}

.user-content {
    padding-top: 15px;
    margin: 0 auto;

    &__albums-container {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__photos {
        padding-top: 100px;
        max-width: 1200px;
    }

}

@media (max-width:1024px) {
    .user-content {
        &__photos {
            padding-top: 35px;
        }

        &__photos-container {
            padding-top: 10px;
            padding-right: 150px;
            width: 375px;
        }
    }
}

.photo-buttons-group {
    position: inherit;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: FuturaPtDefault;
    height: 50px;

    img {
        margin: 0 auto;
    }

    p {
        color: white;
        font-size: 14px;

    }

    span {
        cursor: pointer;
    }

    &__see-in-frame {
        font-family: FuturaPtHeavy;
        width: 300px;
        height: 50px;
        font-size: 22px;
        border-radius: 30px;
        border: 1px solid;
        border-color: white;
        background: rgba(28, 28, 28, 0);
        color: white;
        cursor: pointer;
    }
}

@media (max-width:1024px) {
    .photo-buttons-group {
        &__see-in-frame {
            font-size: 18px;
            width: 196px;
        }
    }
}

.album-details {
    margin: 0 auto;
    padding-top: 10px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: FuturaPtDefault;
        margin-left: 15px;

        h1 {
            color: #262626;
            font-family: TerminaBold, FuturaPtDemi;
            font-size: 22px;
        }
    }

    &__details {
        display: flex;
        padding-left: 37px;
    }

    &__date {
        position: relative;
        padding-right: 25px;

        &::after {
            content: "";
            background-color: black;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            right: 11px;
        }
    }

    &__photos-count {
        color: #30C;
    }

    &__unlock-photos {
        font-size: 22px;
        font-family: FuturaPtHeavy;
        color: #30C;
        position: relative;
    }

    &__unlock-button {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;

        button {
            margin: 0 auto;
        }
    }

    &__left-arrow {
        position: absolute;
        border: solid black;
        border-width: 0 3px 3px 0;
        border-radius: 2px;
        display: inline-block;
        padding: 6px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: 1%;
        top: 18px;
        cursor: pointer;
    }
}

@media (max-width:1024px) {
    .album-details {
        &__info {
            font-size: 14px;
            flex-direction: column;
            padding-left: 20px;
            margin: 0;

            h1 {
                font-size: 18px;
            }
        }

        &__details {
            padding: 0;
            align-self: flex-start;
        }

        &__unlock-photos {
            display: none;
        }

        &__left-arrow {
            left: 4%;
            top: 25px;
        }

        &__unlock-button {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

.payment-pop-up {
    &__container {
        width: 480px;
        height: 257px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
    }

    &__title {
        font-family: TerminaBold;
        font-size: 22px;
        text-align: center;
        padding-top: 10px;
    }

    &__description {
        display: flex;
        align-items: center;
        gap: 70px;
    }

    &__text {
        width: 350px;
        height: 36px;
        margin-left: 20px;
        padding-top: 8px;
    }

    &__price {
        font-family: FuturaPtHeavy;
        font-size: 18px;
        line-height: 13px;
        margin-right: 20px;
    }

    &__buttons {
        margin-left: 20px;
        padding-top: 42px;

        button {
            height: 50px;
            border-radius: 25px;
            border: none;
            cursor: pointer;

            &:disabled {
                opacity: 0.3;
            }
        }
    }

    &__apple-pay-button {
        width: 440px;
        background-color: black;

        img {
            margin: 0 auto;
        }
    }

    &__extra-payment-buttons {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        gap: 10px;
    }

    &__stripe-button {
        width: 214px;
        font-family: FuturaPtHeavy;
        font-size: 22px;
        background-color: #3300CC;
        color: white;
    }

    &__paypal-button {
        width: 215px;
        background-color: #FFC439;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__x-mark {
        width: 18px;
        height: 18px;
        background-image: url(../public/images/XMarkBlack.svg);
        position: absolute;
        cursor: pointer;
        margin-left: 5%;
        margin-top: 4%;
    }

}

@media (max-width:1024px) {
    .payment-pop-up {
        background: rgba(0, 0, 0, 0);

        &__container {
            width: 100vw;
            height: 274px;
            bottom: 0;
            box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &__inner {
            padding-bottom: 35px;
        }

        &__title {
            font-size: 18px;
        }

        &__description {
            gap: 1px;

            p {
                font-size: 16px;
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__buttons {
            margin-right: 20px;
        }

        &__text {
            padding-left: 20px;
        }

        &__price {
            padding-right: 20px;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__apple-pay-button {
            width: 345px;
        }

        &__stripe-button {
            width: 168px;
        }

        &__paypal-button {
            width: 167px;
        }

        &__x-mark {
            left: -1%;
            top: 2%
        }
    }
}

.success {
    padding-top: 28px;

    &__inner {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        p {
            font-family: FuturaPtDefault;
        }
    }

    &__title {
        color: #262626;
        font-family: TerminaBold, FuturaPtDemi;
        font-size: 30px;
    }

    &__main-text {
        font-size: 22px;
        align-self: self-start;
    }

    &__bold-text {
        font-family: FuturaPtHeavy;
    }

    &__description-text {
        padding-top: 10px;
    }

    &__see-photos {
        margin-top: 40px;
        width: 350px;
        height: 50px;
        color: white;
        background-color: #30C;
        border-radius: 30px;
        border: none;
        font-family: FuturaPtMedium;
        font-size: 22px;
        cursor: pointer;
    }

    &__image-container {
        margin-top: 43px;
        width: 420px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        background-color: #3300CC;
    }

    &__album-preview-image {
        width: 100%;
        height: 100%;
    }



    &__under-button-text {
        font-size: 18px;
        padding-top: 15px;
    }
}

@media (max-width:1024px) {
    .success {
        padding-top: 10px;

        &__title {
            font-size: 18px;
        }

        &__main-text {
            padding-top: 10px;
            font-size: 18px;
        }

        &__album-preview-image {
            margin-top: 25px;
            max-width: 346px;
            max-height: 228px;
        }

        &__under-button-text {
            display: none;
        }
    }
}

.footer {
    margin-top: auto;

    &__content {
        color: white;
        background-color: #262626;
        padding-top: 55px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }

    &__info-company-logo {
        cursor: pointer;
    }

    &__info-title {
        font-family: TerminaBold;
        font-size: 22px;
        padding-bottom: 15px;
    }

    &__inner {
        display: flex;
        gap: 60px;
        justify-content: center;
    }


    &__description {
        font-family: FuturaPtDefault;
        font-size: 18px;
        max-width: 420px;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    &__order-button {
        width: 300px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #FFF;
        color: white;
        font-size: 22px;
        font-family: FuturaPtMedium;
        background-color: transparent;
        cursor: pointer;
    }

    &__copyright {
        font-family: FuturaPtDefault;
        font-size: 18px;
    }

    &__menu-item {
        font-size: 18px;
        font-family: FuturaPtDefault;
        cursor: pointer;
        margin-bottom: 20px;
    }

    &__menu-link {
        text-decoration: none;
        color: white;
    }

    &__menu-item-logo {
        padding-bottom: 15px;
    }
}

@media (max-width:1024px) {
    .footer {
        &__content {
            margin: 0 auto;
        }

        &__menu-container {
            display: none;
        }

        &__info-company-logo {
            img {
                width: 150px;
                height: 25px;
            }
        }

        &__inner {
            flex-direction: column;
        }

        &__info {
            margin: 0 auto;
        }

        &__info-title {
            font-size: 18px;
            letter-spacing: -0.36px;
            padding-bottom: 10px;
        }

        &__description {
            padding-top: 15px;
            font-size: 16px;
        }
    }
}