@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.default-button {
    width: 420px;
    height: 50px;
    background-color: #30C;
    color: #FFF;
    font-family: FuturaPtMedium;
    border: none;
    font-size: 22px;
    line-height: 15px;
    border-radius: 30px;
    cursor: pointer;

    &:disabled {
        opacity: 0.3;
    }
}

.default-input {
    width: 420px;
    height: 40px;
    border: none;
    font-family: FuturaPtMedium;
    color: #262626;
    font-size: 20px;
}

.default-text {
    color: #262626;
    font-family: FuturaPtDefault;
    font-size: 16px;
    padding-bottom: 15px;
}

.default-bold-text {
    font-family: FuturaPtHeavy;
    font-size: 18px;
    line-height: 13px;
}

.photo-buttons-group {
    position: inherit;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    font-family: FuturaPtDefault;

    img {
        margin: 0 auto;
    }

    p {
        color: white;
        font-size: 14px;

    }

    span {
        cursor: pointer;
    }

    &__see-in-frame {
        font-family: FuturaPtHeavy;
        width: 300px;
        height: 50px;
        font-size: 22px;
        border-radius: 30px;
        border: 1px solid;
        border-color: white;
        background: rgba(28, 28, 28, 0);
        color: white;
        cursor: pointer;
    }
}

.lets-get-started-title {
    color: #262626;
    font-family: Termina;
    font-size: 30px;

}

.lets-get-started-inner {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    &__inner-logo {
        margin: 0 auto;
        cursor: pointer;
    }

    &__profile-thumb img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }
}

.number-input {
    padding-bottom: 250px;

    &__text {
        color: #262626;
        font-family: FuturaPtHeavy;
        font-size: 18px;
        padding-bottom: 20px;
    }

    &__text-container {
        color: #6D6D6D;
        font-family: FuturaPtDefault;
        font-size: 14px;
        padding-top: 20px;
        max-width: 340px;
    }

    &__button-container {
        margin-top: 25px;
    }

    &__title-container {
        text-align: center;
        padding-top: 130px;
        padding-right: 50px;
    }

}

.no-photos-yet {
    padding-top: 40px;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info-image {
        max-width: 90px;
        max-height: 90px;
    }

    &__info-title {
        line-height: 22px;
        padding-top: 30px;
        color: #262626;
        font-family: FuturaPtHeavy;
        font-size: 30px;
    }

    &__info-text {
        padding-top: 20px;
        color: #262626;
        text-align: center;
        font-family: FuturaPtDefault;
        font-size: 22px;
    }

    &__artists-prints {
        padding-top: 100px;
    }

    &__artists-prints-title {
        font-size: 30px;
        font-family: FuturaPtHeavy;
        line-height: 20px;
        padding-bottom: 20px;
    }

    &__artists-prints-thumbnails {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-bottom: 100px;
    }

    &__artists-prints-thumbnail {
        max-width: 200px;
        max-height: 250px;
        cursor: pointer;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }

    }
}

.whats-the-code {
    padding-right: 50px;
    padding-top: 125px;

    &__inner {
        align-items: center;
    }

    &__inner-content {
        max-width: 420px;
    }

    &__title-container {
        text-align: center;
        padding-bottom: 15px;
    }

    &__title {
        text-align: center;
        font-family: Termina;
        font-size: 30px;
    }

    &__text {
        color: #262626;
        font-family: FuturaPtDefault;
        font-size: 16px;
        padding-bottom: 15px;

        span {
            font-family: FuturaPtHeavy;
        }
    }

    &__button-container {
        margin: 0 auto;
    }

    &__input-code {
        letter-spacing: 65px;
        margin-bottom: 25px;
    }

    &__resend-code {
        font-family: FuturaPtDefault;
        font-size: 16px;
        color: #30C;
        cursor: pointer;
    }

    &__button-container {
        padding-top: 25px;
    }
}

.whats-your-name {
    padding-top: 250px;

    h4 {
        padding-bottom: 30px;
    }

    &__input-name {
        margin-bottom: 20px;
    }
}

.whats-your-email {
    padding-top: 250px;

    h4 {
        padding-bottom: 30px;
        text-align: center;
    }

    &__input {
        margin-bottom: 30px;
    }

    &__privacy-policy {
        padding-top: 260px;
        color: #262626;
        font-family: FuturaPtDefault;
        font-size: 16px;
        padding-bottom: 15px;

        a {
            color: #262626;
            text-decoration: underline #3300CC;
        }
    }
}

.add-a-selfie {
    padding-top: 250px;
    text-align: center;
    padding-right: 50px;

    &__text {
        padding-top: 30px;
    }


    &__prev-photo {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 181px;
        max-height: 181px;
        border-radius: 50%;
    }

    &__plus-button {
        position: relative;
        left: 50px;
        bottom: 40px;
        background-color: #3300CC;
        color: white;
        border: none;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        font-size: 35px;
        cursor: pointer;
    }
}

.pop-up-selfie-upload-options {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
    text-align: center;

    &__inner {
        width: 420px;
        height: 185px;
        border-radius: 20px;
        background-color: white;
    }

    &__x-mark {
        position: absolute;
        width: 18px;
        height: 18px;
        cursor: pointer;
        background-image: url("../public/images/XMarkBlack.svg");
        margin-left: 15px;


        img {
            padding-top: 18px;
        }
    }

    &__content {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        font-family: FuturaPtMedium;
        font-size: 22px;

        h6 {
            line-height: 19px;
        }
    }

    &__buttons-container {
        padding-top: 10px;
    }

    &__input-wrapper {
        margin-top: 10px;

        input {
            display: none;
        }

        span {
            cursor: pointer;
        }

    }

    &__input-button {
        width: 380px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 0 auto;
        border-radius: 30px;
        border: 1px solid #3300CC;
        color: #3300CC;
        cursor: pointer;
    }

    &__webcam-container {
        position: absolute;
        z-index: 101;
        transition: all 1s;
    }




    &__camera-button {
        font-family: FuturaPtMedium;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        width: 180px;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
    }

    &__close-camera-button {
        background-color: #202020;
        border: 1px solid white;
        color: white;
    }
}

.pop-up-photo-container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;

    &__close {
        position: absolute;
        top: 25px;
        left: 40px;
        width: 24px;
        height: 30px;
        z-index: 110;
        cursor: pointer;
        background-image: url("../public/images/X.svg");
    }

    &__buttons {
        position: absolute;
        bottom: 65px;
        right: 480px;
    }
}

.selfie-edit {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
    text-align: center;

    &__inner {
        height: 650px;
        width: 380px;
        background-color: #202020;
        border-radius: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: FuturaPtHeavy;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 13px;
        color: white;
    }

    &__tip-text {
        font-family: FuturaPtDefault;
        color: white;
        font-size: 16px;
        line-height: 11px;
        padding-top: 90px;
    }

    &__selected-image-container {
        padding-top: 40px;
        overflow: hidden;
    }

    &__selected-image {
        width: 330px;
        height: 310px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__buttons-container {
        padding-top: 90px;
    }

    &__button {
        font-family: FuturaPtHeavy;
        width: 170px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 30px;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }

    &__retake-button {
        border: 1px solid white;
        background: rgba(28, 28, 28, 0);
        color: white
    }

    &__save-button {
        color: #262626;
        background-color: white;
    }

    &__x-mark {
        position: relative;
        top: 20px;
        left: 15px;
        z-index: 110;
        cursor: pointer;
        width: 18px;
        height: 25px;
        background-image: url("../public/images/X.svg");
    }
}

.profile-details {
    padding-top: 60px;

    &__title-container {
        text-align: center;
        padding-bottom: 30px;
    }

    &__inner {
        max-width: 480px;
        margin: 0 auto;
    }

    &__bold-text {
        font-family: FuturaPtMedium;
        font-size: 18px;
        line-height: 13px;
    }

    &__selfie-container {

        padding-top: 15px;
        margin-right: auto;
    }

    &__selfie {
        object-fit: cover;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    &__user-data-fields {
        padding-top: 20px;
    }

    &__user-data-field {
        max-width: 420px;
        height: 50px;
        border: 1px solid #CECCB5;
        border-radius: 18px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__user-data-field-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 15px;
        padding-left: 15px;
        cursor: pointer;
    }

    &__edit-icon {
        background-image: url(../public/images/PenIcon.svg);
        width: 45px;
        height: 45px;
        position: absolute;
        margin-left: 125px;
        margin-top: -50px;
        cursor: pointer;
    }

    &__right-arrow {
        background-image: url(../public/images/RightArrow.svg);
        width: 10px;
        height: 20px;
        margin-left: 70px;
    }
}

.privacy-policy {
    &__inner {
        margin-top: 15px;
        h2{
            text-align: center;
        }
    }

    &__text-block {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        p {
            margin-top: 5px;
        }
    }

}

.footer {
    margin-top: auto;

    &__content {
        color: white;
        background-color: #262626;
        padding-top: 55px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
    }

    &__info-company-logo {
        cursor: pointer;
    }

    &__info-title {
        font-family: Termina;
        font-size: 22px;
        padding-bottom: 15px;
    }

    &__inner {
        display: flex;
        gap: 60px;
        justify-content: center;

    }


    &__description {
        font-family: FuturaPtDefault;
        font-size: 18px;
        max-width: 420px;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    &__order-button {
        width: 300px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #FFF;
        color: white;
        font-size: 22px;
        font-family: FuturaPtMedium;
        background-color: transparent;
        cursor: pointer;
    }

    &__copyright {
        font-family: FuturaPtDefault;
        font-size: 18px;
        margin-top: 60px;
    }

    &__menu-item {
        font-size: 18px;
        font-family: FuturaPtDefault;
        cursor: pointer;
        margin-bottom: 20px;
    }

    &__menu-link {
        text-decoration: none;
        color: white;
    }

    &__menu-item-logo {
        padding-bottom: 15px;
    }
}